//conf/base.config
process.executor = 'slurm'
process {
    queue = 'defq'
    cpus = 1
    memory = '32 GB'
    time = '24h'
    scratch = true
    // Run this before every process
    beforeScript = 'source /home/martinp4/anaconda3/etc/profile.d/conda.sh'
}

executor {
    queueSize = 10
}

// will update this to using containers so I can skip conda and use uv isntead
conda {
    enabled = true
    cacheDir = "${projectDir}/conda_cache" 
    useMicromamba = false
    condaOptions = '--solver classic'
}